<ion-view title="" hide-nav-bar="true" class="five-q-page animation-duration" ng-controller="fiveQPageCtrl" >


    <div class="title">
        <img class="" src="img/t21_n.png">
    </div>

    <div class="five-q-page-i1"  ng-click="nextPage('Англия')"></div>

    <div class="five-q-page-i2"  ng-click="nextPage('Италия')"></div>

    <div class="five-q-page-i3"  ng-click="nextPage('Россия')"></div>

    <div class="five-q-page-i4"  ng-click="nextPage('Япония')"></div>

    <button class="one-q-page-i5 submit"  ng-click="stopPage()">
        <img src="img/sub-close.png">
    </button>


</ion-view>