<ion-view title="" hide-nav-bar="true" class="four-q-page animation-duration" ng-controller="fourQPageCtrl" >


    <div class="title">
        <img class="" src="img/t20_n.png">
    </div>

    <div class="yes four-q-page-i1"  ng-click="nextPage('Да')"></div>

    <div class="no four-q-page-i2"  ng-click="nextPage('Нет')"></div>

    <div class="four-q-page-i3">
        <img class="" src="img/t20_n1.png">
    </div>

    <button class="one-q-page-i5 submit"  ng-click="stopPage()">
        <img src="img/sub-close.png">
    </button>


</ion-view>