<ion-view title="" hide-nav-bar="true" class="last-page animation-duration" ng-controller="lastPageCtrl" >

    <div class="title">
        <img class="" src="img/slast_title.png">
    </div>

    <button ng-click="nextPage()" class="last-page-i1 submit" ng-click="nextPage()">
        <img src="img/slast_save.png">
    </button>

</ion-view>