<ion-view title="" hide-nav-bar="true" class="one-q-page animation-duration" ng-controller="oneQPageCtrl" >

        <div class="title">
            <img class="" src="img/s5_title.png">
        </div>

        <div class="one-q-page-i1"  ng-click="nextPage('Классика')"></div>

        <div class="one-q-page-i2"  ng-click="nextPage('Золото')"></div>

        <div class="one-q-page-i3"  ng-click="nextPage('Серебро')"></div>

        <div class="one-q-page-i4"  ng-click="nextPage('Особая')"></div>


    <button class="one-q-page-i5 submit"  ng-click="stopPage()">
        <img src="img/sub-close.png">
    </button>

</ion-view>