<ion-view title="" hide-nav-bar="true" class="interviewer-page animation-duration animation-duration" ng-controller="regInterviewerPageCtrl" >
    <form class="interviewer-form">

        <div class="title">
            <img class="" src="img/s2_title.png">
        </div>

        <div class="interviewer-page-i0">
            <select class="ion-input-select item-select" ng-model="form.MarkaSig">
                <option ng-selected="true" disabled value="">Выберите марку сигарет</option>
                <option value="Балканская Звезда">Балканская Звезда</option>
                <option value="Next">Next</option>
                <option value="LD">LD</option>
                <option value="Saint George">Saint George</option>
                <option value="Optima">Optima</option>
                <option value="Alliance">Alliance</option>
                <option value="Петр I">Петр I</option>
                <option value="Ява">Ява</option>
                <option value="Другое">Другое</option>
            </select>
        </div>

        <div class="interviewer-page-i1">
            <select class="ion-input-select item-select" ng-model="form.TypeSig">
                <option ng-selected="true" disabled value="">Выберите тип сигарет</option>
                <option value="King Size">King Size</option>
                <option value="Queen Size">Queen Size</option>
            </select>
        </div>

        <div class="item-input-wrapp interviewer-page-i2">
            <input type="text" value="Введите Имя и Фамилию"
                   onfocus="if(this.value==this.defaultValue)this.value='';"
                   onblur="if(this.value=='')this.value=this.defaultValue;"
                   class="item item-input item-input-text" ng-model="form.UserName">
        </div>

        <div class="interviewer-page-i3">
            <select class="ion-input-select item-select" ng-model="form.UserSex">
                <option ng-selected="true" disabled value="">Выберите пол</option>
                <option value="Мужчина">Мужчина</option>
                <option value="Женщина">Женщина</option>
            </select>
        </div>

        <div class="item-input-wrapp interviewer-page-i4">
            <input type="input" onfocus="(this.type = 'date')" placeholder="Выберите дату рождения" max="1998-01-01" class="item item-input item-input-text" ng-model="form.UserDate">
        </div>

        <div class="item-input-wrapp interviewer-page-i5">
            <input type="tel" maxlength="11" value="Введите телефон (79001112233)"
                   onfocus="if(this.value==this.defaultValue)this.value='';"
                   onblur="if(this.value=='')this.value=this.defaultValue;"
                   class="item item-input item-input-text" ng-model="form.rUserPhone">
        </div>

        <div class="item-input-wrapp interviewer-page-i6">
            <input type="text" value="Введите email"
                   onfocus="if(this.value==this.defaultValue)this.value='';"
                   onblur="if(this.value=='')this.value=this.defaultValue;"
                   class="item item-input item-input-text" ng-model="form.UserEmail">
        </div>

        <div class="interviewer-page-i7" ng-click="getCode(form.rUserPhone)">
            <img src="img/s3_get_code.png">
        </div>

        <div class="item-input-sm-wrapp interviewer-page-i8">
            <input type="text"  maxlength="4" class="item item-input-sm item-input-text" ng-model="form.code" >
        </div>


        <button class="interviewer-page-i9 submit" ng-click="nextPage(form.MarkaSig, form.TypeSig, form.UserName, form.UserSex, form.UserDate, form.UserEmail, form.rUserPhone, form.code)">
            <img src="img/sub-next.png">
        </button>
    </form>
</ion-view>