<ion-view title="" hide-nav-bar="true" class="six-q-page animation-duration" ng-controller="sixQPageCtrl" >


    <div class="title">
        <img class="" src="img/t22_n.png">
    </div>

    <div class="six-q-page-i1"  ng-click="nextPage('Особый вкус сигарет')"></div>

    <div class="six-q-page-i2"  ng-click="nextPage('Элегантный дизайн пачки')"></div>

    <div class="six-q-page-i3"  ng-click="nextPage('Привлекательная цена')"></div>

    <div class="six-q-page-i4"  ng-click="nextPage('Проверенное качество')"></div>

    <button class="one-q-page-i5 submit"  ng-click="stopPage()">
        <img src="img/sub-close.png">
    </button>


</ion-view>