<ion-view title="" hide-nav-bar="true" class="three-q-page animation-duration" ng-controller="threeQPageCtrl" >

    <div ng-show="userQ1 == 'Классика'">
        <div class="title">
            <img class="" src="img/s7_title_c.png">
        </div>

        <div class="yes three-q-page-i1"  ng-click="nextPage('Да')"></div>

        <div class="no three-q-page-i2"  ng-click="nextPage('Нет')"></div>

        <div class="three-q-page-i3">
            <img class="" src="img/t9_n.png">
        </div>

    </div>

    <div ng-show="userQ1 == 'Золото'">
        <div class="title">
            <img class="" src="img/s7_title_g.png">
        </div>

        <div class="yes three-q-page-i1"  ng-click="nextPage('Да')"></div>

        <div class="no three-q-page-i2"  ng-click="nextPage('Нет')"></div>

        <div class="three-q-page-i3">
            <img class="" src="img/t11_n.png">
        </div>

    </div>

    <div ng-show="userQ1 == 'Серебро'">
        <div class="title">
            <img class="" src="img/s7_title_s.png">
        </div>

        <div class="yes three-q-page-i1"  ng-click="nextPage('Да')"></div>

        <div class="no three-q-page-i2"  ng-click="nextPage('Нет')"></div>

        <div class="three-q-page-i3">
            <img class="" src="img/t13_n.png">
        </div>

    </div>

    <div ng-show="userQ1 == 'Особая'">
        <div class="title">
            <img class="" src="img/s7_title_o.png">
        </div>

        <div class="yes three-q-page-i1"  ng-click="nextPage('Да')"></div>

        <div class="no three-q-page-i2"  ng-click="nextPage('Нет')"></div>

        <div class="three-q-page-i3">
            <img class="" src="img/t16_n.png">
        </div>

    </div>


    <button class="one-q-page-i5 submit"  ng-click="stopPage()">
        <img src="img/sub-close.png">
    </button>

</ion-view>