<ion-view title="" hide-nav-bar="true" class="two-q-page animation-duration" ng-controller="twoQPageCtrl" >


    <div class="title">
        <img class="" src="img/s6_title.png">
    </div>

    <div class="two-q-page-i1 yes"  ng-click="nextPage('Да')"></div>

    <div class="two-q-page-i2 no"  ng-click="nextPage('Нет')"></div>


    <div class="two-q-page-i3">
        <img class="" src="img/t5_n.png">
    </div>

    <button class="one-q-page-i5 submit"  ng-click="stopPage()">
        <img src="img/sub-close.png">
    </button>

</ion-view>
