/* Empty. Add your own CSS if you like */

.title {
    font-size: 28px;
    color: #fff;
}

form {
    position: relative;
    width: 100%;
    height: 100%;
}

.animation-duration {
    backface-visibility: hidden;
    perspective: 1000px;
    transition-duration: 1s !important;
}

.general-page {
    /*background: url("../img/bg_start_page.jpg") left top no-repeat;*/
}

.bg-inner-page {
    background: url("../img/bg.jpg") left top no-repeat;
}

.title {
    top: 65px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.item-input-wrapp {
    background: url("../img/s1_input.png") left top no-repeat;
    width: 615px;
    height: 52px;
    overflow: hidden;
}

.item-input {
    width: 565px !important;
    height: 42px !important;
    border: 0px !important;
    margin-top: 5px;
    margin-left: 30px;

}

.item-input-sm-wrapp {
    background: url("../img/s3_input_small.png") left top no-repeat;
    width: 267px;
    height: 51px;
    overflow: hidden;
}

.item-input-sm {
    width: 200px !important;
    height: 42px !important;
    border: 0px !important;
    margin-top: 5px;
    margin-left: 30px;

}


.item-input-text {
    border-color: none !important;
    background-color: transparent !important;
    color: #000 !important;
    padding-left: 0px !important;
    border-width: 0px !important;
    font-size: 28px !important;
}

.item-input-text::-webkit-input-placeholder {
    color:#000;
}

.ion-input-select,
select {
    -webkit-appearance:none;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    border:0px;
    font-weight:300;
    display:inline;
    vertical-align:middle;
    color:#000;
    padding: auto 0;
    overflow:hidden;
    box-sizing:border-box;

}

.ion-input-select {
    width:615px;
    height: 52px;
    font-size:28px;
    background-image: url("../img/s1_select.png");
    padding-left: 30px;

}

.item-select {
    font-size: 28px !important;
    font-weight: normal !important;
}

option {
    background:#444;
}

select::-ms-expand {
    display: none;
}

:focus {
    outline:none;
}


.item-date {
    width: 295px !important;
    height: 44px !important;
    border-radius: 5px !important;
    padding-top: 15px !important;

}

.submit {
    border: 0px;
    background: none;
}

.auth-page {
    background: url("../img/bg.jpg") left top no-repeat;
}

.auth-page-i0 {
    position: absolute;
    top: 75px;
    left: 200px;
}

.auth-page-i1 {
    position: absolute;
    top: 252px;
    left: 121px;
}

.auth-page-i2 {
    position: absolute;
    top: 245px;
    left: 340px;
}

.auth-page-i3 {
    position: absolute;
    top: 320px;
    left: 340px;
}

.auth-page-i4 {
    position: absolute;
    top: 396px;
    left: 340px;
}

.auth-page-i5 {
    position: absolute;
    top: 471px;
    left: 340px;
}

.auth-page-i7 {
    position: absolute;
    top: 546px;
    left: 336px;
}

.start-work-page {
    background: url("../img/bg.jpg") left top no-repeat;
}

.start-work-page-i1 {
    position: absolute;
    top: 301px;
    left: 340px;
}

.start-work-page-i2 {
    position: absolute;
    top: 384px;
    left: 340px;
}

.start-work-page-i3 {
    position: absolute;
    top: 384px;
    left: 655px;
}

.start-work-page-i4 {
    position: absolute;
    top: 520px;
    left: 340px;
}

.start-work-page-i5 {
    position: absolute;
    top: 720px;
    left: 482px;
}

.sign-page {
    background: url("../img/bg.jpg") left top no-repeat;
}

.sign-page-i3 {
    /*background: url("../img/s4_i3.png");*/
    background: url("../img/sign-page-i3.png");
    padding: 10px 20px;
    /*border: 1px solid #fcd188;*/
    /*border-radius: 5px;*/
    position: absolute;
    top: 154px;
    left: 268px;
    color: #000;
    overflow-y: scroll;
    width: 740px;
    height: 341px;
    font-size: 18px;
    text-align: justify;
    line-height: 24px;
}

.sign-page-i3 h1 {
    text-align: center;
    color: #000;
    font-size: 26px;
}

.sign-page-i4 {
    position: absolute;
    background-color: #fff;
    top: 610px;
    left: 370px;
    width: 566px;
    height: 155px;
    border-radius: 5px;
}

.sign-page-i5 {
    background: url("../img/s4_i1.png ");
    width: 556px;
    height: 47px;
    position: absolute;
    top: 525px;
    left: 373px;
}

.sign-page-i5-checkbox {
    margin-top: 3px !important;
    margin-left: 5px !important;
}

.sign-page-i6 {
    position: absolute;
    top: 683px;
    left: 352px;
}

.sign-page-i7 {
    position: absolute;
    top: 710px;
    left: 1160px;
}


.checkbox input:before, .checkbox-icon:before {
    border-radius: 5px;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background-color: #fcd188;
    border-color: #fcd188;
}

.checkbox input:checked:after, .checkbox input:checked + .checkbox-icon:after {
    border-color: #000;
}

.interviewer-page {
    background: url("../img/bg.jpg") left top no-repeat;
}


.interviewer-page-i0 {
    position: absolute;
    top: 170px;
    left: 340px;
}

.interviewer-page-i1 {
    position: absolute;
    top: 240px;
    left: 340px;
}

.interviewer-page-i2 {
    position: absolute;
    top: 310px;
    left: 340px;
}

.interviewer-page-i3 {
    position: absolute;
    top: 380px;
    left: 340px;
}

.interviewer-page-i4 {
    position: absolute;
    top: 450px;
    left: 340px;
}

.interviewer-page-i5 {
    position: absolute;
    top: 520px;
    left: 340px;
}

.interviewer-page-i6 {
    position: absolute;
    top: 590px;
    left: 340px;
}

.interviewer-page-i7 {
    display: none;
    position: absolute;
    top: 660px;
    left: 340px;
}

.interviewer-page-i8 {
    display: none;
    position: absolute;
    top: 660px;
    left: 685px;
}

.interviewer-page-i9 {
    position: absolute;
    top: 710px;
    left: 1160px;
}


.one-q-page {
    background: url("../img/bg.jpg") left top no-repeat;
}

.one-q-page-i1 {
    position: absolute;
    top: 255px;
    left: 225px;
    background: url("../img/s5_i1.png") top left no-repeat;
    width: 417px;
    height: 221px;
}

.one-q-page-i2 {
    position: absolute;
    top: 255px;
    left: 670px;
    background: url("../img/s5_i2.png") top left no-repeat;
    width: 417px;
    height: 221px;
}

.one-q-page-i3 {
    position: absolute;
    top: 505px;
    left: 225px;
    background: url("../img/s5_i3.png") top left no-repeat;
    width: 417px;
    height: 221px;
}

.one-q-page-i4 {
    position: absolute;
    top: 505px;
    left: 670px;
    background: url("../img/s5_i4.png") top left no-repeat;
    width: 417px;
    height: 221px;
}

.one-q-page-i5 {
    position: absolute;
    top: 20px;
    left:1220px;
}


.yes {
    background: url("../img/yes.png") left top no-repeat;
    width: 149px;
    height: 47px;
}

.no {
    background: url("../img/no.png") left top no-repeat;
    width: 149px;
    height: 47px;
}

.two-q-page {
    background: url("../img/bg.jpg") left top no-repeat;
}


.two-q-page-i1 {
    position: absolute;
    top: 360px;
    left: 356px;
}

.two-q-page-i2 {
    position: absolute;
    top: 360px;
    left: 712px;
}

.two-q-page-i3 {
    position: absolute;
    top: 473px;
    left: 321px;
}

.three-q-page {
    background: url("../img/bg.jpg") left top no-repeat;
}

.three-q-page-i1 {
    position: absolute;
    top: 360px;
    left: 356px;
}

.three-q-page-i2 {
    position: absolute;
    top: 360px;
    left: 712px;
}

.three-q-page-i3 {
    position: absolute;
    top: 476px;
    left: 250px;
}

.four-q-page {
    background: url("../img/bg.jpg") left top no-repeat;
}


.four-q-page-i1 {
    position: absolute;
    top: 360px;
    left: 356px;
}

.four-q-page-i2 {
    position: absolute;
    top: 360px;
    left: 712px;
}

.four-q-page-i3 {
    position: absolute;
    top: 472px;
    left: 427px;
}


.five-q-page {
    background: url("../img/bg.jpg") left top no-repeat;
}


.five-q-page-i1 {
    position: absolute;
    top: 255px;
    left: 225px;
    background: url("../img/t21_n1.png") top left no-repeat;
    width: 417px;
    height: 221px;
}

.five-q-page-i2 {
    position: absolute;
    top: 255px;
    left: 670px;
    background: url("../img/t21_n2.png") top left no-repeat;
    width: 417px;
    height: 221px;
}

.five-q-page-i3 {
    position: absolute;
    top: 505px;
    left: 225px;
    background: url("../img/t21_n3.png") top left no-repeat;
    width: 417px;
    height: 221px;
}

.five-q-page-i4 {
    position: absolute;
    top: 505px;
    left: 670px;
    background: url("../img/t21_n4.png") top left no-repeat;
    width: 417px;
    height: 221px;
}


.six-q-page {
    background: url("../img/bg.jpg") left top no-repeat;
}


.six-q-page-i1 {
    position: absolute;
    top: 255px;
    left: 225px;
    background: url("../img/t22_n1.png") top left no-repeat;
    width: 417px;
    height: 221px;
}

.six-q-page-i2 {
    position: absolute;
    top: 255px;
    left: 670px;
    background: url("../img/t22_n2.png") top left no-repeat;
    width: 417px;
    height: 221px;
}

.six-q-page-i3 {
    position: absolute;
    top: 505px;
    left: 225px;
    background: url("../img/t22_n3.png") top left no-repeat;
    width: 417px;
    height: 221px;
}

.six-q-page-i4 {
    position: absolute;
    top: 505px;
    left: 670px;
    background: url("../img/t22_n4.png") top left no-repeat;
    width: 417px;
    height: 221px;
}



.last-page {
    background: url("../img/bg.jpg") left top no-repeat;
}

.last-page-i1 {
    position: absolute;
    top:370px;
    left:330px;
}